.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F9FAFE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-body {
  color: steelblue;
  min-height: 90vh;
  min-width: 40vw;
  background-color:white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;
  transition: transform .2s; /* Animation */
}

.App-body:hover {
  transform: scale(1.05)
}

.Container-style {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.Header-title-text {
  color: hsl(219, 85%, 26%);
  font-size: 16px;
  font-weight: 800;
}

.Header-title-text-badge {
  background-color: hsl(219, 85%, 26%);
  font-size: 16px;
  font-weight: 800;
  color: white;
  margin-left: 0.5rem;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.Header-title-right-text {
  color:  hsl(224, 21%, 14%);
  font-size: 12px;
  font-weight: 500;
}